.navbar {
  background-color: $nav-gray;
  grid-area: navbar;
  display: flex;
  align-items: center;
  justify-content: center;

  .text {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    flex: 1 1 85%;
    text-align: left;
    padding-left: 24px;

  }


  .dots {
    color: #ffffff;
    flex: 0 0 64px;
    text-align: right;
    padding-right: 24px;
    height: 32px;
    font-size: 32px;
  }


}

