$nav-gray: #212121;
$white: #fff;
$teal: #009688;
$light-teal: #86e4db;
$warm-gray: #747474;
$black: #000000;
$brownish-gray: #6a6767;
$warmer-gray: #757373;

$nav-height: 64px;
$header-height: 80px;
